<div class="maincontainer">
  <div class="logincontainer">
    <div class="loginpagelogo">
      <img src="../../../../assets/img/ultratech-group-logo.jpeg" />
    </div>
    <div class="logindiv1">
      <div class="login-box">
        <!-- <div class="logintitle">Login</div> -->

          <div class="login-box">
            <div class="logintitle">
                Login
            </div>
            <mat-tab-group>
                <mat-tab label="Vendor">                    
      
                    <div class="input-container margin-top-20px">
                        <!-- <div class="icon"><img src="../../../../assets/img/icons/user.svg"></div> -->
                        <input type="text" placeholder="Pan no.">
                    </div>
      
                    <div class="input-container">
                        <!-- <div class="icon"><img src="../../../../assets/img/icons/key.svg"></div> -->
                        <input type="password" class="password" placeholder="Password">
                    </div>
      
                    <div class="loginbutton">
                        <button (click)="onLoginClick()">Login</button>
                    </div>
                 </mat-tab>

                <mat-tab label="UTCL">
      
                    <div class="input-container margin-top-20px">
                        <!-- <div class="icon"><img src="../../../../assets/img/icons/user.svg"></div> -->
                        <input type="text" placeholder="User ID">
                    </div>
      
                    <div class="loginbutton">
                        <button (click)="onLoginClick()">Login</button>
                    </div>
                 </mat-tab>
              </mat-tab-group>
<h1></h1>
              

          </div>
      </div>
    </div>

    <div class="logindiv2"></div>
  </div>
</div>

<div></div>
