<!-- <div class="slab-fields-sec">
    <div class="slab-fields">
      <mat-form-field class="example-full-width">                  
        <input matInput type="number">
      </mat-form-field>

      <span class="to">To</span>

      <mat-form-field class="example-full-width">                  
        <input matInput type="number">
      </mat-form-field>                

      <mat-form-field class="example-full-width right-align-item">                  
        <input matInput type="number">
      </mat-form-field>

      <div class="add-button">
        <button mat-mini-fab aria-label="Add Button" class="add">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="add-button">
        <button mat-mini-fab aria-label="Add Button" class="delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div> -->

  <p> Modal pop-up Works </p>
