mat-card {
  min-width: 140px;
}

.detail {
  display: flex;
  gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 300px;
}

.detail h3{
  width: 100%;
  font-weight: 600;
  flex-basis: 100%;
  margin: 0px;
}

.details {
  //  width:150px;
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.total{
  background-color: lightblue;
}

